<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON Schema Validation API</title>
</head>
<body>
    <h1>
        Hello World!
    </h1>
	<h2>
		Welcome to the JSON Schema Validation API
	</h2>
	<h3>
		Usage
	</h3>
		some stuff will go here later on... 
	<h2>
		Data store
	</h2>
		This is a listing of the data currently stored (hit refresh if you just uploaded more data).
	<h3>
		Suppliers
	</h3>
	<div class="suppliers">
		<pre>{{ supplierdata }}</pre>
	</div>
	<h3>
		Other stuff
	</h3>
	<div class="otherdata">
		<pre>{{ otherdata }}</pre>
	</div>
</body>
</html>