<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>JSON Schema Validation API</title>
</head>

<body>
	<h1>
		Hello World!
	</h1>
	<h2>
		Welcome to the JSON Schema Validation API
	</h2>
	<h3>
		Available endpoints
	</h3>
	<div class="endpoints">
		<ul style="list-style: bullet;">
			{% for item in endpoints %}
			<li> {{ item }}</li>
			{% endfor %}
		</ul>
	</div>
	<h3>
		Usage
	</h3>
	<div class="usage">
		Call one of the available endpoints with your payload.
		<ul style="list-style: none;">
			<li>If the content is <b>valid</b> according to the schema, you will receive a <b>200/OK</b> together with
				your payload</li>
			<li>If the content is <b>invalid</b> according to the schema, you will receive a <b>400/Bad Request</b>
				together with the validation errors</li>
		</ul>
	</div>
	<h2>
		Data store
	</h2>
	This is some sample data.
	<h3>
		Accounts
	</h3>
	<div class="accounts">
		<pre>{{ accountdata }}</pre>
	</div>
	<h3>
		Advanced permissions
	</h3>
	<div class="accounts">
		<pre>{{ advancedpermissiondata }}</pre>
	</div>
	<h3>
		Suppliers
	</h3>
	<div class="suppliers">
		<pre>{{ supplierdata }}</pre>
	</div>
	<h3>
		Accounting documents
	</h3>
	<div class="accountingdocumentdata">
		<pre>{{ accountingdocumentdata }}</pre>
	</div>
	<h3>
		Advanced validations
	</h3>
	<div class="advancedvalidationdata">
		<pre>{{ advancedvalidationdata }}</pre>
	</div>
	<h3>
		Cost centers
	</h3>
	<div class="costcenterdata">
		<pre>{{ costcenterdata }}</pre>
	</div>
	<h3>
		Exchange rates
	</h3>
	<div class="exchangeratedata">
		<pre>{{ exchangeratedata }}</pre>
	</div>
	<h3>
		Generic lists
	</h3>
	<div class="genericlistdata">
		<pre>{{ genericlistdata }}</pre>
	</div>
	<h3>
		Matching orders
	</h3>
	<div class="matchingorderdata">
		<pre>{{ matchingorderdata }}</pre>
	</div>
	<h3>
		Matching order lines
	</h3>
	<div class="matchingorderlinedata">
		<pre>{{ matchingorderlinedata }}</pre>
	</div>
	<h3>
		Payment terms
	</h3>
	<div class="paymenttermdata">
		<pre>{{ paymenttermdata }}</pre>
	</div>
	<h3>
		Projects
	</h3>
	<div class="projectdata">
		<pre>{{ projectdata }}</pre>
	</div>
	<h3>
		Tax codes
	</h3>
	<div class="taxcodedata">
		<pre>{{ taxcodedata }}</pre>
	</div>
	<h3>
		Users
	</h3>
	<div class="userdata">
		<pre>{{ userdata }}</pre>
	</div>
</body>

</html>